@using MiCamioncito.Models
@model Client

@{
    ViewData["Title"] = "Form Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <div class="card-body">

        <form asp-action="SaveClient" asp-controller="Home" method="post">

            <input type="hidden" asp-for="IDClient" />

            <div class="mb-2">
                <label class="form-label">Name</label>
                <input type="text" class="form-control form-control-sm" asp-for="Name" />
            </div>
            <div class="mb-2">
                <label class="form-label">Email</label>
                <input type="text" class="form-control form-control-sm" asp-for="Email" />
            </div>
            <div class="mb-2">
                <label class="form-label">Cargo Percentage</label>
                <input type="text" class="form-control form-control-sm" asp-for="CargoPercentage" />
            </div>
            <div class="mb-2">
                <label class="form-label">Reception Address</label>
                <input type="text" class="form-control form-control-sm" asp-for="ReceptionAddress" />
            </div>
            <div class="mb-2">
                <label class="form-label">Delivery Address</label>
                <input type="text" class="form-control form-control-sm" asp-for="DeliveryAddress" />
            </div>
            <div class="mb-2">
                <label class="form-label">Required Documentation</label>
                <input type="text" class="form-control form-control-sm" asp-for="RequiredDocumentation" />
            </div>

            <button type="submit" class="btn btn-success btn-sm">Save</button>
            <a asp-action="Clients" asp-controller="Home" class="btn btn-warning btn-sm">Volver a lista</a>
        </form>
       
    </div>

</div>